img
{
    width: 70%;
    margin-left: 15%;
}

video
{
    width: 70%;
    margin-left: 15%;
}

#box
{
    display: flex;
    align-content: flex-start;
    margin-top: 2%;
}

.buttons
{
    border-radius: 30px;
    background-color:burlywood;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

body
{
    background-color:antiquewhite;
}
